.App {
  
  text-align: center;
  width: stretch;
  height: stretch;
  /* cursor: var(url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto); */
  
}

body {
  background-color: #3b4455;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ArticleContainer {
  color: orange;
  list-style: none;
}

.ArticleId {
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 5px;
  background-color: rgb(255, 145, 2);
  color: white;
  padding: 5px;
  font-size: 12px;
}

.Article {
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  border-radius: 6px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(250, 228, 102));
  width: 300px;
  height: 300px;
}

.toolBoxContainer {
  filter: drop-shadow(0 0 0.75rem rgb(1, 1, 2));
  border-radius: 8px;
  position: absolute;
  top: var(--toolBoxTop);
  left: var(--toolBoxLeft);
  display: block;
  width: 100px;
  height: 170px;
  background-color: #576379;
}

.toolBoxText {
  text-align: center;
  font-size: 15px;
  /* color: rgb(198, 233, 0); */
  color: rgb(255, 166, 0);
   
}

.displayContainer {
  cursor: var(--cursorHand);
  width: stretch;
  height: stretch;
}

.newPostbutton {
  color: rgb(24, 20, 58);
  position: absolute;
  top: 40px;
  left: 16px;
  border: none;
  padding: 5px;
  border-radius: 2px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(103, 120, 153));
  filter: drop-shadow(0 0 0.12rem rgb(1, 1, 2));
}


.editPostbutton {
  color: rgb(24, 20, 58);
  position: absolute;
  top: 70px;
  left: 16px;
  border: none;
  padding: 5px;
  border-radius: 2px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(103, 120, 153));
  filter: drop-shadow(0 0 0.12rem rgb(1, 1, 2));
}

.helpButton {
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 28px;
  left: 70px;
  width: 21px;
  border: none;
  padding: 2px;
  border-radius: 4px;
  background-color: rgb(255, 145, 0);
  filter: drop-shadow(0 0 0.12rem rgb(110, 50, 1));
}

.submitFormButton{
  color: rgb(24, 20, 58);
  border-radius: 5px;
  font-size: 20px;
  position: absolute;
  bottom: -55px;
  border: none;
  padding: 10px;
  border-radius: 2px;
  margin-left: -120px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(103, 120, 153));
  filter: drop-shadow(0 0 0.12rem rgb(1, 1, 2));
}

.deleteFormButton{
  color: rgb(226, 0, 0);
  border-radius: 5px;
  font-size: 20px;
  position: absolute;
  bottom: -55px;
  border: none;
  padding: 10px;
  border-radius: 2px;
  margin-left: 30px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(103, 120, 153));
  filter: drop-shadow(0 0 0.12rem rgb(1, 1, 2));
}

.AddArticleContainer {
  z-index: +1;
  position: absolute;
  /* top: 20px;
  left: 300px; */
  top: var(--addArticleTop);
  left: var(--addArticleLeft);
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: darkblue;
  width: 300px;
  height: 300px;
}

.ArticleTitle {
  top: 31px;
  position: absolute;
  margin-left: -140px;
  font-style: bold;
  font-size: 25px;
  line-height: 25px;
  color: darkblue;
  width: 280px; 
}

.ArticleContent {
  font-size: 20px;
  line-height: 21px;
  top: 48px;
  position: absolute;
  color:darkblue;
  margin-left: 10px;
  width: 280px;
  word-wrap: break-word;
}

 
.ArticleBy {
  color: darkblue;
  width: 280px;
  position: absolute;
  bottom: 5px;
  font-size: 12px;
  margin-left: -140px;
}
 
.formHL {
  color: rgb(69, 74, 95);
  font-size: 12px;
}
 
.HeadlineContainer {
  z-index: +1;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100px;
  height: 55px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  border-radius: 5px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(250, 228, 102));
  color: darkblue;
}
  
.HelpContainer {
  z-index: +1;
  border-radius: 5px;
  background-color: rgb(255, 248, 217);
  position: absolute;
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  top: 15px;
  left: 122px;
  height: 250px;
  width: 150px; 
  word-wrap: break-word;
}

.HelpText {
  width: 140px;
  position: relative;
  top: 8px;
  left: 0px;
  padding: 3px;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color:darkblue;
  word-wrap: break-word;
}
  
.contentInput {
  font-size: 20px;
  line-height: 21px;
  color: darkblue;
  background-color: rgb(250, 243, 201);
  width: auto;
  height: auto;
}
 
.titleInput {
  font-style: bold;
  font-size: 25px;
  color: darkblue;
  background-color: rgb(250, 243, 201);
  width: auto;
  height: auto;
}

.authorInput {
  color: darkblue;
  background-color: rgb(250, 243, 201);
  width: 250px;
  position: absolute;
  bottom: 5px;
  font-size: 12px;
  margin-left: -125px;
}

.smallLineBreak {
  line-height: 5px;
}