.App {
  
  text-align: center;
  width: stretch;
  height: stretch;
  /* cursor: var(url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto); */
  
}

body {
  background-color: #3b4455;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ArticleContainer {
  list-style: none;
}

.ArticleCount {
  position: relative;
  top: -6px;
  left: -132px;
  border-radius: 5px;
  background-color: rgb(255, 145, 2);
  color: white;
  padding: 5px;
  font-size: 12px;
}

.Article {
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  border-radius: 6px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(250, 228, 102));
  width: 300px;
  height: 300px;
}

.toolBoxContainer {
  filter: drop-shadow(0 0 0.75rem rgb(1, 1, 2));
  border-radius: 8px;
  position: absolute;
  top: var(--toolBoxTop);
  left: var(--toolBoxLeft);
  display: block;
  width: 100px;
  height: 170px;
  background-color: rgb(116, 118, 129);
}

.toolBoxText {
  text-align: center;
  font-size: 15px;
  color: rgb(198, 233, 0);
   
}

.displayContainer {
  
  cursor: var(--cursorHand);
  width: stretch;
  height: stretch;

}

.button {
  border: none;
  padding: 5px;
  border-radius: 2px;
}

.AddArticleContainer {
  z-index: +1;
  position: absolute;
  top: 20px;
  left: 300px;
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: darkblue;
  width: 300px;
  height: 300px;
}

.ArticleTitle {
  font-style: bold;
  font-size: 25px;
  line-height: 25px;
  color: darkblue;
  width: 280px; 
}

.ArticleContent {
  font-size: 20px;
  line-height: 21px;
  color:darkblue;
  margin-left: 10px;
  width: 280px;
  word-wrap: break-word;
}

 
.ArticleBy {
  color: darkblue;
  width: 280px;
  position: relative;
  bottom: -40px;
  font-size: 12px;
}
 
.formHL {
  color: rgb(69, 74, 95);
  font-size: 12px;
}
 
 
.HeadlineContainer {
  z-index: +1;
  position: absolute;
  padding: 15px;
  top: -15px;
  left: 15px;
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  border-radius: 5px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(250, 228, 102));
  /* background-color: rgb(250, 234, 143); */
  color: darkblue;
}



.contentInput {
  font-size: 20px;
  line-height: 21px;
  color:dark darkblue;
  background-color: rgb(250, 243, 201);
  width: auto;
  height: auto;
}



.titleInput {
  font-style: bold;
  font-size: 25px;
  color: darkblue;
  background-color: rgb(250, 243, 201);
  width: auto;
  height: auto;
}


.authorInput {
  font-size: 12px;
  color: darkblue;
  background-color: rgb(250, 243, 201);
  width: auto;
  height: auto;
}

.smallLineBreak {
  line-height: 5px;
}