.App {
  
  text-align: center;
  width: stretch;
  height: stretch;
  /* cursor: var(url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto); */
  
}

html {
  box-sizing: border-box;
}

body {
  background-color: #3b4455;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ArticleContainer {
  color: orange;
  list-style: none;
}

 
.AddArticleContainer {
  z-index: +1;
  position: absolute;
  /* top: 20px;
  left: 300px; */
  top: var(--addArticleTop);
  left: var(--addArticleLeft);
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: darkblue;
  width: var(--articleW);
  height: var(--articleH);
}


.Article {
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  border-radius: 6px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(250, 228, 102));
  width: var(--articleW);
  height: var(--articleH);
}

.ArticleId {
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 5px;
  background-color: rgb(255, 145, 2);
  color: white;
  padding: 5px;
  font-size: 12px;
}

.ArticleTitle {
  top: 31px;
  position: absolute;
  margin-left: -140px;
  font-style: bold;
  font-size: 25px;
  line-height: 25px;
  color: darkblue;
  width: 250px; 
}

.ArticleContent {
  font-size: 20px;
  line-height: 21px;
  top: 48px;
  position: absolute;
  color:darkblue;
  margin-left: 10px;
  width: 250px;
  word-wrap: break-word;
}
 
.ArticleBy {
  color: darkblue;
  width: 250px;
  position: absolute;
  bottom: 5px;
  font-size: 12px;
  margin-left: -140px;
}

.toolBoxContainer {
  filter: drop-shadow(0 0 0.75rem rgb(1, 1, 2));
  border-radius: 8px;
  position: absolute;
  top: var(--toolBoxTop);
  left: var(--toolBoxLeft);
  display: block;
  width: 100px;
  height: 170px;
  background-color: #576379;
}

.toolBoxText {
  text-align: center;
  font-size: 15px;
  /* color: rgb(198, 233, 0); */
  color: rgb(255, 166, 0);
   
}

.displayContainer {
  cursor: var(--cursorHand);
  width: stretch;
  height: stretch;
}

.newPostbutton {
  color: rgb(24, 20, 58);
  position: absolute;
  top: 40px;
  left: 10px;
  border: none;
  padding: 5px;
  border-radius: 2px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(103, 120, 153));
  filter: drop-shadow(0 0 0.12rem rgb(1, 1, 2));
}


.editPostbutton {
  color: rgb(24, 20, 58);
  position: absolute;
  top: 70px;
  left: 10px;
  border: none;
  padding: 5px;
  border-radius: 2px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(103, 120, 153));
  filter: drop-shadow(0 0 0.12rem rgb(1, 1, 2));
}

.helpButton {
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 28px;
  left: 70px;
  width: 21px;
  border: none;
  padding: 2px;
  border-radius: 4px;
  background-color: rgb(255, 145, 0);
  filter: drop-shadow(0 0 0.12rem rgb(110, 50, 1));
}

.submitFormButton{
  color: rgb(24, 20, 58);
  border-radius: 5px;
  font-size: 20px;
  position: absolute;
  bottom: -55px;
  border: none;
  padding: 10px;
  border-radius: 2px;
  margin-left: -90px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(103, 120, 153));
  filter: drop-shadow(0 0 0.12rem rgb(1, 1, 2));
}

.deleteFormButton{
  color: rgb(226, 0, 0);
  border-radius: 5px;
  font-size: 20px;
  position: absolute;
  bottom: -55px;
  border: none;
  padding: 10px;
  border-radius: 2px;
  margin-left: 0px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(103, 120, 153));
  filter: drop-shadow(0 0 0.12rem rgb(1, 1, 2));
}
 
.formHL {
  color: rgb(69, 74, 95);
  font-size: 12px;
}
 
.HeadlineContainer {
  z-index: +1;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100px;
  height: 55px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  border-radius: 5px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(250, 228, 102));
  color: darkblue;
}
  
.HelpContainer {
  z-index: +1;
  border-radius: 5px;
  background-color: rgb(255, 248, 217);
  position: absolute;
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  top: 15px;
  left: 122px;
  height: 250px;
  width: 150px; 
  word-wrap: break-word;
}

.HelpText {
  width: 140px;
  position: relative;
  top: 8px;
  left: 0px;
  padding: 3px;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color:darkblue;
  word-wrap: break-word;
}
  
.contentInput {
  font-size: 20px;
  line-height: 21px;
  color: darkblue;
  background-color: rgb(250, 243, 201);
  width: 250px;
  height: auto;
}
 
.titleInput {
  font-style: bold;
  font-size: 25px;
  color: darkblue;
  background-color: rgb(250, 243, 201);
  width: 250px;
  height: auto;
}

.authorInput {
  color: darkblue;
  background-color: rgb(250, 243, 201);
  width: 250px;
  position: absolute;
  bottom: 5px;
  font-size: 12px;
  margin-left: -125px;
}

.smallLineBreak {
  line-height: 5px;
}
 
.ListContainer {
  list-style: none;
}
 

/*----------> Mobile Styles <------------*/
 
.mobile_taskBar {
  filter: drop-shadow(0 0 0.75rem rgb(1, 1, 2));
  border-radius: 0px;
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  width: stretch;
  height: 40px;
  background-color: #576379;
}
 
.mobile_newPostbutton {
  color: rgb(24, 20, 58);
  position: absolute;
  top: 7px;
  left: 175px;
  border: none;
  padding: 5px;
  border-radius: 2px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(103, 120, 153));
  filter: drop-shadow(0 0 0.12rem rgb(1, 1, 2));
}


.mobile_editPostbutton {
  color: rgb(24, 20, 58);
  position: absolute;
  top: 7px;
  left: 260px;
  border: none;
  padding: 5px;
  border-radius: 2px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(103, 120, 153));
  filter: drop-shadow(0 0 0.12rem rgb(1, 1, 2));
}

.mobile_helpButton {
  /* font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  position: fixed;
  top: -1px;
  left: 107px;
  width: 24px;
  border: none;
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(255, 145, 0);
  filter: drop-shadow(0 0 0.12rem rgb(110, 50, 1)); */

  z-index: +1;
  position: fixed;
  top: 7px;
  left: 112px;
  width: 25px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(255, 145, 0);
  filter: drop-shadow(0 0 0.12rem rgb(1, 1, 2));
  border-radius: 5px;
  color: white;
}

.mobile_AddContainer {
  display: flex;
}
 
.mobile_AddArticleContainer {
  position: absolute;
  /* top: 20px;
  left: 300px; */
  display: inline-block;
  top: 45px;
  left: 37px;
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: darkblue;
  width: 300px;
  height: 245px;
}

.mobile_submitFormButton{
  color: rgb(24, 20, 58);
  border-radius: 5px;
  font-size: 20px;
  position: flex;
  /* top: 125px;
  left: 340px; */
  margin-top: 20px;
  border: none;
  padding: 10px;
  border-radius: 2px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(103, 120, 153));
  filter: drop-shadow(0 0 0.12rem rgb(1, 1, 2));
}

.mobile_deleteFormButton{
  color: rgb(226, 0, 0);
  border-radius: 5px;
  font-size: 20px;
  position: flex;
  /* top: 125px;
  left: 450px; */
  margin-top: 20px;
  margin-left: 30px;
  border: none;
  padding: 10px;
  border-radius: 2px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(103, 120, 153));
  filter: drop-shadow(0 0 0.12rem rgb(1, 1, 2));
}

.mobile_HeadlineContainer {
  z-index: +1;
  position: fixed;
  top: 7px;
  left: 7px;
  width: 100px;
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  border-radius: 5px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(250, 228, 102));
  color: darkblue;
}

.mobile_HelpContainer {
  z-index: +1;
  border-radius: 5px;
  background-color: rgb(255, 248, 217);
  position: absolute;
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  top: 55px;
  left: 122px;
  height: 250px;
  width: 150px; 
  word-wrap: break-word;
}

.mobile_Stay {
  position: fixed;
  top: 0px;
  left: 0px;
}

.mobile_ListContainer {
  text-align: left;
  display: inline-block;
  /* margin-left: 0px; */
  list-style: none;
  margin-top: 50px;
}

/*
@media (orientation: landscape){
  .mobile_ListContainer {
    margin-left: 65px;
  }
}
  
@media (orientation: portrait) {
  .mobile_ListContainer {
    margin-left: 0px;
  }
}
*/

.mobile_Article {
  float: left;
  display: block;
  margin: center;
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  border-radius: 6px;
  /* background-image: linear-gradient(rgb(250, 242, 198),rgb(250, 228, 102)); */
  background-image: linear-gradient(rgb(198, 233, 250),rgb(102, 203, 250));
  width: 300px;
  height: 70px;
}

.mobile_ArticleTitle {
  position: relative;
  top: 8px;
  font-style: bold;
  font-size: 25px;
  line-height: 25px;
  color: darkblue;
  width: 280px; 
}

.mobile_ArticleId {
  position: relative;
  top: 3px;
  left: -135px;
  border-radius: 5px;
  background-color: rgb(255, 145, 2);
  color: white;
  padding: 5px;
  font-size: 12px;
}


.mobile_ArticleContent {
  /* font-size: 20px;
  line-height: 21px;
  top: 48px;
  position: absolute; */
  color:darkblue;
  /* margin-left: 10px;
  width: 250px; */
  word-wrap: break-word;
}
 
.mobile_ArticleBy {
  position: relative;
  left: 0px;
  top: 20px;
  color: darkblue;
  width: 300px;
  font-size: 12px;
  word-wrap: break-word;
  /* margin-left: -140px; */
}

.mobile_Zoom {
  position: absolute;
  margin-left: 40px;
  top: var(--zoom_Y_Location);
  left: var(--zoom_X_Location);
  filter: drop-shadow(0 0 0.55rem rgb(1, 1, 2));
  border-radius: 6px;
  background-image: linear-gradient(rgb(250, 242, 198),rgb(250, 228, 102));
  width: 300px;
  height: 300px;
}